/* Colours: #507255, #488B49, #488B49, #6EB257, #C5E063 */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #C5E063);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #6EB257);
}
.logo_big {
  height: 16em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo_big:hover {
  filter: drop-shadow(0 0 2em #C5E063);
}
.logo_big.react:hover {
  filter: drop-shadow(0 0 2em #6EB257);
}
.btn_icn {
  height: 1em;
  padding: .2em;
  vertical-align: middle;
  will-change: filter;
  transition: filter 300ms;
}
.btn_grp {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.profile-card {
  border: 2px solid #488B49;
  background-color: #88888822;
  border-radius: 12px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-column: 1/-1; */
  align-items: center;
  max-width: 1000px;
  margin: 1em auto;
}

.profile-title{
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: .25em;
}

.avatar_lrg img {
  flex-shrink: 0;
  border-radius: 10%;
  margin: .1em;
  align-items: center;
}

.profile-info {
  list-style: none;
  padding: .25em;
  text-align: left;
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
}